
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BOOK ADDITION</title>
</head>
<body>
	<a th:href="@{/register}">Add New Book</a>
<br><br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Price</th>
    </tr>

    <tr th:each="s : ${books}">
        <td th:text="${s.bookId}"></td>
        <td th:text="${s.name}"></td>
        <td th:text="${s.author}"></td>
        <td th:text="${s.price}"></td>
    </tr>
</table>
</body>
</html>