<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Student Bean -->
    <bean id="student" class="com.cdac.Student">
        <constructor-arg value="101"/>
        <constructor-arg value="Ayush"/>
        <constructor-arg value="PG-DAC"/>
    </bean>

    <!-- StudentService Bean -->
    <bean id="studentService" class="com.cdac.StudentService">
        <constructor-arg ref="student"/>
    </bean>

</beans>
